/dist
/logs
/npm-debug.log
/node_modules
.DS_Store
.env

src/view/.DS_Store
src/view/node_modules
src/view/dist

# local env files
src/view/.env.local
src/view/.env.*.local

# Log files
src/view/npm-debug.log*
src/view/yarn-debug.log*
src/view/yarn-error.log*

# Editor directories and files
src/view/.idea
src/view/.vscode
src/view/*.suo
src/view/*.ntvs*
src/view/*.njsproj
src/view/*.sln
src/view/*.sw*

